.class1{
    height:100px;
    width:100px;
    display:flex;
    align-items:center;
    top:30%;
}

.class2{
    border:none;
    outline:none;
    color:white;
    font-size: 0%;
    position: relative;
    left:10vw;
    top:20vh;
}

.button-text{
    background-color: transparent;
    color: white;
    border: none;
   
    font-size: 225px;
    display: flex;
    cursor: default;
    
}

#L2{
    top:0px;
    left:140px;
    position: absolute;
}
#L3{
    top:200px;
    left:0px;
    position: absolute;
}
#L4{
    top:200px;
    left:170px;
    position: absolute;
}
#L5{
    top:200px;
    left:300px;
    position: absolute;
    color: #0aff9d;
    font-style: italic;
}
#L6{
    top:200px;
    left:410px;
    position: absolute;
    color: #0aff9d;
    font-style: italic;
}
#L7{
    top:200px;
    left:515px;
    position: absolute;
    color: #0aff9d;
    font-style: italic;
}
#L8{
    top:200px;
    left:688px;
    position: absolute;
    color: #0aff9d;
    font-style: italic;
}
#L9{
    top:200px;
    left:830px;
    position: absolute;
}

#L10{
    top:200px;
    left:865px;
    position: absolute;
}

#L11{
    top:470px;
    left:0px;
    position: absolute;
}

#L12{
    top:470px;
    left:140px;
    position: absolute;
}

#L13{
    top:470px;
    left:168px;
    position: absolute;
}

#L14{
    top:470px;
    left:197px;
    position: absolute;
}


.button-text:hover{
    color:rgb(125, 68, 129);
    animation: animate 0.6s;
}
@keyframes animate{
    25%{
        transform: scale(0.8,1.3);
    }
    50%{
        transform: scale(1.1,0.3);
    }
    75%{
        transform: scale(0.7,1.2);
    }
}

@media screen and (min-width: 0px) and (max-width: 550px){
    .class2{
        left:6vw;
    }
    .button-text{
        font-size: 75px;
    }
    #L2{
        top:0px;
        left:45px;
        position: absolute;
    }
    #L3{
        top:70px;
        left:0px;
        position: absolute;
    }
    #L4{
        top:70px;
        left:58px;
        position: absolute;
    }
    #L5{
        top:70px;
        left:100px;
        position: absolute;
    }
    #L6{
        top:70px;
        left:137px;
        position: absolute;
    }
    #L7{
        top:70px;
        left:174px;
        position: absolute;
    }
    #L8{
        top:70px;
        left:233px;
        position: absolute;
    }
    #L9{
        top:70px;
        left:280px;
        position: absolute;
    }
    
    #L10{
        top:70px;
        left:293px;
        position: absolute;
    }
    
    #L11{
        top:155px;
        left:0px;
        position: absolute;
    }
    
    #L12{
        top:155px;
        left:45px;
        position: absolute;
    }
    
    #L13{
        top:155px;
        left:55px;
        position: absolute;
    }
    
    #L14{
        top:155px;
        left:65px;
        position: absolute;
    }
        
}

@media screen and (min-width: 550px) and (max-width: 1082px){
    .class2{
        left:6vw;
    }
    .button-text{
        font-size: 110px;
    }
    #L2{
        top:0px;
        left:70px;
        position: absolute;
    }
    #L3{
        top:85px;
        left:0px;
        position: absolute;
    }
    #L4{
        top:85px;
        left:84px;
        position: absolute;
    }
    #L5{
        top:85px;
        left:150px;
        position: absolute;
    }
    #L6{
        top:85px;
        left:204px;
        position: absolute;
    }
    #L7{
        top:85px;
        left:255px;
        position: absolute;
    }
    #L8{
        top:85px;
        left:340px;
        position: absolute;
    }
    #L9{
        top:85px;
        left:420px;
        position: absolute;
    }
    
    #L10{
        top:85px;
        left:435px;
        position: absolute;
    }
    
    #L11{
        top:200px;
        left:0px;
        position: absolute;
    }
    
    #L12{
        top:200px;
        left:70px;
        position: absolute;
    }
    
    #L13{
        top:200px;
        left:85px;
        position: absolute;
    }
    
    #L14{
        top:200px;
        left:102px;
        position: absolute;
    }
        
}

