.wrapper {
  height: 40vh;
  position: absolute;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  left: 10%;
   
}

.typing-demo {
  width: 12ch;
  font-weight: bold;
  color: #d7b94c;
  animation: typing 1s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 6px solid;
  font-family: 'Inconsolata', Consolas, monospace;
  font-size: 5em;
}
@keyframes typing {
  from {
    width: 0
  }
}   
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 430px){
  .wrapper {
    height: 30vh;
    position: absolute;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    left: 10%;
     
  }
  .typing-demo {
    width: 12ch;
    font-weight: bold;
    color: #d7b94c;
    animation: typing 1s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Inconsolata', Consolas, monospace;
    font-size: 2em;
  }
}

@media screen and (min-device-width: 540px) and (max-device-width: 700px){
  .wrapper {
    height: 40vh;
    position: absolute;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    left: 10%;
     
  }
  .typing-demo {
    width: 12ch;
    font-weight: bold;
    color: #d7b94c;
    animation: typing 1s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Inconsolata', Consolas, monospace;
    font-size: 3em;
  }
}

  