@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:wght@600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');/*.navBarStyle{
   

/*.navBarButtons{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 0px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    position: relative;
    left: 20vw;
    transform: translate(-100%);
    height: 100%;
    
    
}*/

.navBarStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 25px;
    background: #080808;
    width: 100vw;
    height: 50px;
    border-radius: 0px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
  }

.navBarButtons {
    display: flex;
    gap: 0px;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px; /* Adjust as needed */
    height: 100%;
    
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px; /* Adjust as needed */
    height: 100%;
    position: relative;
  }
  
.logo {
    height: 90%;
    width: 50px;
    background-color: #111;
    border-radius: 5px;
    position: relative;
    transition: 500ms;
    
  }

.logo-text{
    position: relative;
    justify-content: center;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700 ;
    text-align: center;
}

.logo:hover{
    background-color: #202121;
    transition: 500ms;  
}

.navBarIcons{
    display: none;
}

@media screen and (max-width: 750px){
    .navBarStyle{
        z-index: 99;
    }
    .logoContainer {
        margin-right: 0px; /* Adjust as needed */
        
        
    }
    .navBarButtons{
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
        backdrop-filter: blur(4px);
        border-radius: 13px;
        width:100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transform: all 0.3s ease-in-out;
            
    }
    

    /*.navBarIcons{
        display: block;
        position: absolute;
        right: 50px;
        cursor: pointer;
            
    }*/
    .navBarIcons{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: 6vw;
        
    }
    
}
html {
    height: 100%;
    /*background: linear-gradient(#813b97, #463c96);*/
}
@keyframes progress1 {
    0% {
        transform: scalex(0);
        opacity: 0.5;
   }
    90% {
        transform: scalex(1);
        opacity: 1;
   }
    92% {
        transform: scalex(1);
        opacity: 1;
   }
    100% {
        transform: scalex(1);
        opacity: 0;
   }
}
@keyframes progress2 {
    0% {
        transform: scale(0.3, 0.8) translatez(0);
        opacity: 0;
   }
    90% {
        transform: scale(1, 1) translatex(300px) translatez(0);
        opacity: 1;
   }
    100% {
        transform: scale(1, 1) translatex(300px) translatez(0);
        opacity: 0;
   }
}

@-webkit-keyframes animate1 {
    0%   {background-color: #77A1D3;}
    50%  {background-color: #79CBCA;}
    100%  {background-color: #E684AE;}
}
@keyframes animate1 {
    0%   {background-color: #77A1D3;}
    50%  {background-color: #79CBCA;}
    100%  {background-color: #E684AE;}
    
}
/*.line:after {
    content: "";
    position: absolute;
    animation: progress2 3s infinite;
    transform-origin: 90% 30%;
    margin-left: -200px;
    top: -9px;
    width: 20px;
    height: 21px;
    border-radius: 2px;
    background: rgba(210, 189, 255, .55);
    filter: blur(8px);
    box-shadow: 0 0 4px 6px rgba(210, 189, 255, .4), -20px 0 15px 4px rgba(210, 189, 255, .3), -40px 0 15px 2px rgba(210, 189, 255, .2), -60px 0 10px 1px rgba(210, 189, 255, .1), -80px 0 10px 1px rgba(210, 189, 255, .05);
}*/



