.navBarStyle{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 35px;
    background: linear-gradient(to right, #191b1d 30%, #151d21 70%);
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.25); */
    width: 100%;
    height : 50px;
    border-radius: 0px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);   
} 

.navBarButtons{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    position: relative;
    left: 97%;
    transform: translate(-100%);
}

.navBarIcons{
    display: none;
    
}

@media screen and (max-width: 750px){
    .navBarStyle{
        z-index: 99;
    }
    .navBarButtons{
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
        backdrop-filter: blur(4px);
        border-radius: 13px;
        width:100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transform: all 0.3s ease-in-out;
            
    }

    .navBarIcons{
        display: block;
        position: absolute;
        right: 50px;
        cursor: pointer;
            
    }
    
}
html {
    height: 100%;
    background: linear-gradient(#813b97, #463c96);
}
@keyframes progress1 {
    0% {
        transform: scalex(0);
        opacity: 0.5;
   }
    90% {
        transform: scalex(1);
        opacity: 1;
   }
    92% {
        transform: scalex(1);
        opacity: 1;
   }
    100% {
        transform: scalex(1);
        opacity: 0;
   }
}
@keyframes progress2 {
    0% {
        transform: scale(0.3, 0.8) translatez(0);
        opacity: 0;
   }
    90% {
        transform: scale(1, 1) translatex(300px) translatez(0);
        opacity: 1;
   }
    100% {
        transform: scale(1, 1) translatex(300px) translatez(0);
        opacity: 0;
   }
}
.line {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0%;
    height: 2px;
    background: rgba(255, 255, 255, .1);
    opacity: 0.5;
}
.line:before {
    animation: progress1 20s infinite;
    transform-origin: 0 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #77A1D3 10%, #79CBCA 80%, #E684AE);
    
}
/*.line:after {
    content: "";
    position: absolute;
    animation: progress2 3s infinite;
    transform-origin: 90% 30%;
    margin-left: -200px;
    top: -9px;
    width: 20px;
    height: 21px;
    border-radius: 2px;
    background: rgba(210, 189, 255, .55);
    filter: blur(8px);
    box-shadow: 0 0 4px 6px rgba(210, 189, 255, .4), -20px 0 15px 4px rgba(210, 189, 255, .3), -40px 0 15px 2px rgba(210, 189, 255, .2), -60px 0 10px 1px rgba(210, 189, 255, .1), -80px 0 10px 1px rgba(210, 189, 255, .05);
}*/



