.dropNavBar-link{
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
}

.dropNavBar-dropdown{
    position:relative;
    transform: all 0.3s ease-in-out;
    justify-content: flex-end; 
}

.dropNavBar-menu{
    position: absolute;
    left: -300%;
    top: calc(100% + .25rem);
    background-color: rgb(255, 255, 255);
    padding: .75rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    display: grid;
    grid-gap: 15px;
    /*grid-template-rows: 1fr max-content;*/
}
