.dropNavBar-link{
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
}

.dropNavBar-dropdown{
    position:relative;
    
}

.dropNavBar-menu{
    position: absolute;
    left: -800%;
    top: calc(100% + .10rem);
    border-radius: 10px;
    background: #080808;
    padding: 1.5rem;
    
    display: grid;
    grid-gap: 20px;
    
    /*grid-template-rows: 1fr max-content;*/
}
