.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.particle {
  z-index: -10;
}

/*colour for text #d7b94c */
.Section {
  min-height: 100px;
  min-width: 100px;
}

#home {
  background-color: transparent;
  flex: 1, 1, auto;
  min-height: 100vh;
}

#about {
  min-height: 100vh;
  flex: 1, 1, auto;
  background-color: #111;
  border-top: solid #2c302e;
  padding-bottom: 2vh;
}

#skill {
  min-height: 100vh;
  flex: 1, 1, auto;

  background-color: #111;
  border-top: solid #2c302e;
  padding-bottom: 2vh;
}
#projects {
  min-height: 100vh;
  flex: 1, 1, auto;

  background-color: #111;
  border-top: solid #2c302e;
  padding-bottom: 2vh;
}

#contact {
  min-height: 100vh;
  flex: 1, 1, auto;

  background-color: #111;
  border-top: solid #2c302e;
}
@media screen and (min-width: 0px) and (max-width: 835px) {
  #skill {
    min-height: 70vh;
  }
}
