.App {
  text-align: center;
  height: 200vh;
  display:flex;
  flex-direction: column;
  z-index: 1000;
  
}
.particle{
  z-index: -10;
}

/*colour for text #d7b94c */
.Section{
  min-height: 100vh;
  
}

#home{
  background-color: transparent;
  flex: 1,1,auto;
  height:100%;
  
}

#about{
  height:100%;
  flex: 1,1,auto;
  padding-top: 3vh;
  background-color: transparent;
}

