@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:wght@900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


button{
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

button.icon-pink{
  color: rgb(235, 120, 193);
  background: #080808;
  
}

button.icon-white{
  color: rgb(255, 255, 255);
  background: transparent;
  font-size: 20px;
}


button.icon-black{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

button.icon-pink:hover{
  transform: scale(1.5);
}

button.icon-black:hover{
  transform: scale(1.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button.github-project{
  background-color: transparent;
  font-size: 28px;
  color: #c0bdbe;
  
}

button.frameWorks{
  position: relative;
  left: 45%;
  top: -7.5%;
  background-color: transparent;
  font-size: 28px;
  color: #ea82af;
  transition-duration: 250ms;
  cursor: default;
}


button.github-project:hover{
  color: #ffffff;
  
}

button.links-site{
  background-color: transparent;
  font-size: 28px;
  color: #c0bdbe;
  
}

button.links-site:hover{
  background-color: transparent;
  font-size: 28px;
  color:#0aff9d;
  
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.custom-button {
	width: 100px;
	height: 35px;
	cursor: pointer;
	border: none;
	font-family: 'Comfortaa', cursive;
	color: rgba(255,255,255,0.5);
	font-size: 20px;
	border-radius: 4px;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
	background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
	background-size: 150%;
	background-position: right;
	transition: 0.5s;
}


.custom-button:hover {
	background-position: left;
	color: white;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

.custom-button:focus {
	outline: none;
}

.custom-button-2{
  background-color: transparent;
  width: 120px;
	height: 100%;
  color: white;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  letter-spacing: 0.1rem;
  opacity: 0.5;
  
  
}

.custom-button-2:hover{
  background-color: #202121;
  opacity: 1;
  border-top: solid thin #0aff9d;
}

.custom-button-3 {
  position: relative;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #0aff9d;
  font-family: 'Poppins', sans-serif;
  border: 2px #0aff9d solid;
  border-radius: 4px;
  
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.custom-button-3:hover {
  color: rgb(0, 0, 0);
}

.custom-button-3:before {
  content: "";
  position: absolute;
  background: #0aff9d;
  
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.custom-button-3:hover:before {
  top: 0;
}


@media screen and (min-width: 1650px) and (max-width: 1750px){
  button.github-project{
    
    top: -8%;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1650px){
  button.github-project{
    
    top: -8%;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1600px){
  button.github-project{
    
    top: -8%;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1600px){
  button.github-project{
    
    top: -8%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1500px){
  button.github-project{
    
    top: -8.3%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1000px){
  button.github-project{
    
    top: -8.3%;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px){
  button.github-project{
    
    top: -9%;
  }
}




