button{
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

button.pink{
  background-color: rgb(236, 9, 179);
}
button.blue{
  background-color: blue;
}
button.black{
  background-color: black;

}
button.white{
  background-color: rgb(255, 255, 255);
}

button.icon-pink{
  background-color: rgb(255, 255, 255);
  color: pink;
  
}
button.icon-black{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.button.icon-pink:hover{
  transform: scale(1.5) 
}
button.icon-black:hover{
  transform: scale(1.5)
}