@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:wght@900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.container-box{
    
    width: min(100vw, 100%);
    float: center;
    background-color: rgba(47, 52, 50, 0);
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.container-box h1{
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    
}

.container-box p{
    text-align: center;
    
    
    
}
.container-box p a{
    color: #0aff9d;
    text-decoration-line: none;
}

.container-box p a:hover{
    text-decoration-line:underline;
    
}

.container-box .email {
    font-size: 50px;
    color: white;
    margin-top: 3%;
    display: flex;
    justify-content: center;

}

.container-box .email p{
    font-size: 29px;
    font-family: 'Poppins' sans-serif;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .container-box .email p{
    font-size: 22px;
    
}
.container-box .email {
    font-size: 40px;
}
}