.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    background: #000;
}
.semicircle{
    transform: rotate(-90deg);
    position: fixed;
    left: 70vw;
    top: 0.3vh;
    z-index: 1;
    
    background-color: white;
    height: 1000px;
    width: 1000px;
    border-radius: 300px 300px 0 0;
}