@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:wght@900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.project-heading{
    padding-top: 2%;
    padding-left: 8%;
    padding-bottom: 3.6%;
    display: flex;
}

.project-container{
    max-width: 85%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 8%;
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card{
    background: #232323;
    padding: 1.2rem 1rem;
    border-radius: 32px;
    overflow: hidden;
    border: 3px solid #404442;
}

.project-card img{
    width: 85%;
    transition-duration: 500ms;
    
}
.project-card img:hover{
    transform: scale(1.2) rotate(-10deg);
    transition-duration: 500ms;
    
}
.line{
    content: "";
    height: 1px;
    width: 98%;
    background-color: #0aff9d;
    border-radius:  6px;
    position: relative;
    display:block;
    margin:auto;
    
}
.project-title{
    color: rgb(255, 255, 255);    
    padding: 1rem 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: row;     
    justify-content: left;
    align-items: center;

}

.project-title a{
    margin-left: auto;
}

.project-type{
    padding-bottom: 1rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    top: -1.5%;
    color: #0aff9d;
    padding-top: 1%;
    position: relative;
}



.pro-details{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 1.5em;
    color: #ffffff;
    position: relative;
    top: -3%;
}

.pro-details a{
    color: #0aff9d;
    text-decoration-line: none;
    
}

.pro-details a:hover{
    text-decoration-line:underline;
    
}
.pro-btn{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    
}
.pro-btn .btn{
    padding: 0.5rem 1rem;
    font-size: large;
    background-color: yellow;
    
}

@media screen and (min-width:0px) and (max-width:800px){
    .project-container{
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:900px) and (max-width:1400px){
    .project-container{
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:800px) and (max-width:900px){
    .project-container{
        margin: auto;
        grid-template-columns: repeat(2, 1fr);

    }
    .project-title{
        font-size: 20px;
        letter-spacing: 0.7px;
    }
    .project-type{
        
        font-size: 17px;
        
        
    }
    .pro-details{
       
        font-size: 14px;
        
       
    }

}
